.wrapper {
    display: flex;
    align-items: center;
    padding: calc(var(--mantine-spacing-xl) * 2);
    border-radius: var(--mantine-radius-md);
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
    border: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-8));

    @media (max-width: $mantine-breakpoint-sm) {
        flex-direction: column-reverse;
        padding: var(--mantine-spacing-xl);
    }
}

.body {
    width: 100%;
}

.title {
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    font-family:
            Greycliff CF,
            var(--mantine-font-family);
    line-height: 1;
    margin-bottom: var(--mantine-spacing-md);
}
